body {
  background-color: #8bb6fc;
}

#imagesWithTextContainer {
  margin-left: 150px;
  margin-right: 50px;
}

.imageWithText p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.56em;
  width: 230px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.56em;
}

.imageWithText {
  margin: 10px;
  float: left;
}

.imageWithText p {
  text-align: center;
  margin: 10px;
}

#train {
  margin-left: 80px;
  margin-top: 30px;
}

#hamburger {
  margin-top: 180px;
}

#directions {
  clear: both;
  border: 5px dashed black;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: 100px;
  margin-right: 100px;
}